In [1]:
pip install numpy

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

In [12]:
#QS 1: Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
arr1.reshape(2,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [13]:
#QS 2: Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

arr2 = np.arange(1,21)
extract = arr2[5:15]
print(extract)

[ 6  7  8  9 10 11 12 13 14 15]

In [15]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#QS 3: Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}.
       #Then, add a new item to the series with the key 'pears' and the value 4.

import pandas as pd

values = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

values['pears'] = 4
print(values)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [5]:
#QS 4: Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 
             'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [25, 30, 22, 28, 24, 27, 29, 23, 26, 31],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 
               'Male', 'Female', 'Female', 'Male', 'Male']
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    David   28    Male
4     Emma   24  Female
5    Frank   27    Male
6    Grace   29  Female
7   Hannah   23  Female
8      Ian   26    Male
9     Jack   31    Male

In [6]:
#QS 5: Add a new column to the data frame created in question 1, called occupation. 
      #The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

df['Occupation'] = occupations

print(df)

      Name  Age  Gender  Occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   28    Male  Programmer
4     Emma   24  Female     Manager
5    Frank   27    Male     Analyst
6    Grace   29  Female  Programmer
7   Hannah   23  Female     Manager
8      Ian   26    Male     Analyst
9     Jack   31    Male  Programmer

In [7]:
#QS 6: Select the rows of the dataframe where the age is greater than or equal to 30.

df1 = df.loc[df['Age'] >= 30]
print(df1)

   Name  Age Gender  Occupation
1   Bob   30   Male     Manager
9  Jack   31   Male  Programmer

In [10]:
#QS 7: Convert this dataframe to a csv file and read that csv file, finally display the contents.

df.to_excel("data.xlsx", index=False) 
df_import = pd.read_excel("data.xlsx")

print(df_import)

      Name  Age  Gender  Occupation
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   22    Male     Analyst
3    David   28    Male  Programmer
4     Emma   24  Female     Manager
5    Frank   27    Male     Analyst
6    Grace   29  Female  Programmer
7   Hannah   23  Female     Manager
8      Ian   26    Male     Analyst
9     Jack   31    Male  Programmer